<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body style='background-color:rgb(237, 248, 248)'>

<div class="container">
<h4 style='color:red'>delete select from number complete!</h4>

    <form action="/db" method="get">
        <input  type="submit" name="submit" />
    </form>
    </div>   
</body>
</html>
