<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div class="container">
<h4 style='color:red'>delete select from name complete!</h4>

    <form action="/db" method="get">
        <input  type="submit" name="submit" />
    </form>
    </div>   
</body>
</html>
